{sub_dirs, ["..", "../../deps"]}.
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{preprocess, true}]}.

{deps, [
        {lager, ".*",
         {git, "git://github.com/basho/lager",
          {tag, "73f0806a0d70503d66d506b491f558ccec76154f"}}},
        {jsx, ".*",
         {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}}
       ]}.
